* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,a {
  list-style-type:none
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  transition: all 0.50s linear;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  
  margin: 0 auto;
  max-width: 100%;
  max-width: 1440px;
}

.todo {
  padding: 50px;
  border-radius: 40px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 0.3s;
  margin: 20px;
}

button:hover {
  border-color: #9ba0fc;
  transition: all 0.3s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tasks-list {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  width: 30%;
  flex-direction: column;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggler {
  display: flex;
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}